
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="http://grupoasesores.com.mx/img/logo.png" width="180" height="50" class="d-inline-block align-top" alt="">
      Welcome page
    </a>
  </nav>

  <div class="card text-center">
    <div class="card-header">
    e-Commerce Gapsi
    </div>
    <div class="card-body">
        <div class="text-center">
            <img src="https://lh3.googleusercontent.com/a/ALm5wu0RMj-nOjHbKZVt-bBIWqIZb2Mi_XdNnUgmIyUIEv8=s96-c-rg-br100" class="rounded" alt="...">
        </div>
      <h5 class="card-title">Bienvenido {{data.nombre}}</h5>
      <a href="/listado" class="btn btn-primary">Continuar</a>
    </div>
    <div class="row">
    <div class="col-12">
        <div class="card-footer">
            <p class="text-muted text-right"> Version 0.0.1</p>
          </div>
    </div>
</div>
</div>